.MyModal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    background-color: rgba(0,0,0,0.5);
    z-index: 99999;
}

.MyModalContent {
    width: 500px;
    border-radius: 0.4rem;
    background-color: white;
}

.MyModal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}