* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: #f5f6f8 !important;
    color: #626262;
    margin: 0;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #f5f6f8;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
tbody, td, tfoot, th, thead, tr {
    border: 0 solid !important;
    border-color: inherit;
}


.bg-border {
    padding: 2px 10px;
    border-radius: 15px;
}
.bg-f5f6f8 {
    background-color: #f5f6f8;
    color: #495057 !important;
}
.bg-5b73e8 {
    background-color: #5b73e8;
}
.c-555b6d {
    color: #555b6d;
}
.c-626262 {
    color: #626262;
}
.bg-danger {
    background-color: rgb(244,106,106) !important;
}
.bg-secondary {
    background-color: rgba(116,120,141,1)!important;
}
.bg-success {
    background-color: rgba(52,195,143,1)!important;
}
.fz-20 {
    font-size: 20px;
}
.fz-22 {
    font-size: 22px;
}
.fz-18 {
    font-size: 18px;
}
.fz-09 {
    font-size: 0.9rem !important;
}
.fz-08 {
    font-size: 0.8rem !important;
    font-weight: 500;
}
.mt-1px {
    margin-top: 1px;
}
.color-626262 {
    color: #626262;
}
.nalichnie {
    color: #5B73E8;
}
.terminal {
    color: #34C38F;
}
label{
    font-size: 13px;
    font-weight: 600;
    color: #999999;
}
.pointer {
    cursor: pointer;
}
.cursor {
    cursor: pointer !important;
}
ul li span {
    color: #7B8190;
}
input:focus {
    outline: none !important;
}
.z-0{
    z-index: 0 !important;
}
.white-space-nowrap{
    white-space: nowrap;
}
.white-space-wrap{
    white-space: wrap;
}

.text-left {
    text-align: left !important;
}
#text-left {
    text-align: left !important;
}
.text-right {
    text-align: right;
}
.bg-white {
    background-color: white;
}
.h-vh120 {
    min-height: 120vh;
}
.mb-500 {
    margin-bottom: 150px;
}
.mr-2 {
    margin-right: 4px
}
.nowrap {
    white-space: nowrap !important;
}


.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f8f9fa !important;

}
.outline-none:focus, .outline-none:active {
    outline: none !important;
    box-shadow: none !important;
}
/* .table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
} */

/* scrollbar */
.sidebar-container{
    overflow-y: hidden;
}
.sidebar-container:hover {
    overflow-y: scroll;
}
.sidebar-container::-webkit-scrollbar {
    width: 6px;
}
.sidebar-container::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
}
.sidebar-container::-webkit-scrollbar-thumb {
    background-color: #b5b5b5;
    border-radius: 100px;
}
/* ----- */
body::-webkit-scrollbar {
    width: 8px;
}
body::-webkit-scrollbar-track {
    background-color: #b8c0c8;
    border-radius: 100px;
}
body::-webkit-scrollbar-thumb {
    background-color: #8b909e;
    border-radius: 100px;
}
/* ----- */
.table-scroll::-webkit-scrollbar {
    height: 8px;
}
.table-scroll::-webkit-scrollbar-track {
    background-color: #b8c0c8;
    border-radius: 100px;
}
.table-scroll::-webkit-scrollbar-thumb {
    background-color: #8b909e;
    border-radius: 100px;
}
/* ----- */
.main-container {
    overflow-y: hidden;
}
/* ----- */
.table-scroll-create {
    overflow-y: hidden;
}
.table-scroll-create::-webkit-scrollbar {
    height: 8px;
}
.table-scroll-create::-webkit-scrollbar-track {
    background-color: #b8c0c8;
    border-radius: 100px;
}
.table-scroll-create::-webkit-scrollbar-thumb {
    background-color: #8b909e;
    border-radius: 100px;
}


.table-scroll-create-y::-webkit-scrollbar {
    width: 8px;
}
.table-scroll-create-y::-webkit-scrollbar-track {
    background-color: #b8c0c8;
    border-radius: 100px;
}
.table-scroll-create-y::-webkit-scrollbar-thumb {
    background-color: #8b909e;
    border-radius: 100px;
}
/* scrollbar */

/* decorators */
#root:before {
    background: #5b73e8;
    height: 5px;
    width: 100%;
    position: fixed;
    content: "";
    z-index: 9999999;
    top: 0;
}
#root:after {
    background: #5b73e8;
    height: 5px;
    width: 100%;
    position: fixed;
    content: "";
    z-index: 9999999;
    bottom: 0;
}
#App::before {
    background: #5b73e8;
    height: 100vh;
    width: 5px;
    position: fixed;
    content: "";
    z-index: 9999999;
    left: 0;
}
/* decorators */

.topbar-container{
    position: fixed;
    top: 5px;
    left: 250px;
    right: 0;
    display: flex;
    justify-content: flex-end;
    box-shadow: 0 2px 4px rgb(15 34 58 / 12%);
    align-items: center;
    background: white;
    z-index: 21;
}

.sidebar-container{
    position: fixed;
    top: 5px;
    bottom: 0;
    width: 250px;
    box-shadow: 0 2px 4px rgb(15 34 58 / 12%);
    background-color: white;
}

.logo-tabs-position{
    position: fixed;
    background-color: white !important;
    width: 250px;
    top: 5px;
    
}

.tab-links-position{
    padding-top: 100px;
}

.main-container{
    margin-left: 250px;
    overflow-x: hidden;
}

.page-content{
    padding: 60px 10px 10px;
    min-height: 110vh;
    background-color: #f5f6f8 !important;
}

.card {
    background-color: white;
    padding: 16px;
    border-radius: 6px;
    height: 100%;
    --bs-card-border-width: 0px !important;
}

.card-item {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    border-radius: 6px;
    background-color: white;
    height: 95px;
}

.card-item-text {
    color: #495057 !important;
    font-size: 21px !important;
    font-weight: bolder !important;
    white-space: nowrap !important;
}
.card-item-subtext {
    color: #74788d !important;
}

.logout{
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
}

.logo-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 6px;
    padding: 0 1.5rem;
}

.logo {
    width: 130px;
}

.sidebar-links{
    font-weight: 400 !important;
}

.expandIcon{
    cursor: pointer;
    margin: 0 16px;
}

.icon__container{
    display: flex;
    background-color: transparent;
    justify-content: center;
}
.icon__item{
    background-color: transparent;
}
.eye-icon{
    color: #5b73e8;
    border: 1px solid #5b73e8;
    border-radius: 6px;
    background: transparent;
    margin-right: 8px;
    padding: 2px;
    cursor: pointer;
}

.excel-icon{
    color: #34c38f;
    border: 1px solid #34c38f;
    border-radius: 4px;
    background: transparent;
    padding: 2px;
    cursor: pointer;
}

.required-star {
    color: red;
    padding-bottom: 2px;
}

.table-overflow{
    overflow-x: scroll;
}

.search-barcode {
    color: #626262;
    position: absolute;
    top: 7px;
    right: 7px;
    cursor: pointer;
    font-size: 25px;
}
.search-barcode:hover {
    color: #5b73e8;
}
.input-plus-icon {
    position: absolute;
    top: 7px;
    right: 13px;
    cursor: pointer;
}
.create-table th{
    font-weight: 700 !important;
    font-size: 14px !important;
    text-align: center !important;
    align-items: center !important;
    color: #495057;;
    vertical-align: middle;
}

.preview-table {
    color: #495057;
    text-align: center;
    align-items: center;
}

.preview-table td {
    font-size: 0.9rem;
}

.addedProduct-table{
    vertical-align: middle;
    font-size: 14px;
}

#searchedProducts-table{
    overflow-y: scroll !important;
    overflow-x: hidden;
    height: 350px !important;
}

.addedProduct-input{
    width: 85px !important; 
    height: 25px;
    padding: 0 5px;
    border: 1px solid lightgray;
    border-radius: 4px;
    text-align: center;

}
.input-error{
    border: 1px solid red;
}


.badge-pill{
    display: block;
    background: #F46A6A;
    color: #FFFEFE;
    padding: 0 ;
    border-radius: 15px;
    white-space: nowrap;
    font-size: 12px;
}

.text-alignment {
    text-align: center;
}

.text-alignment th{
    vertical-align: middle !important;
}

.pagination {
    --bs-pagination-focus-bg: none !important;
    --bs-pagination-focus-box-shadow: none !important;
}

.header-text {
    color: #495057;
    font-size: 1.35rem;
    font-weight: 400;
}

.chart-container {
    width: 70px;
    height: 40px;
}

/* icons icons icons */
#search-icon-position{
    position: absolute;
    top: 7px;
    right: 12px;
}

#clear-icon-position {
    position: absolute;
    top: 7px;
    right: 12px;
    cursor: pointer;
}
#clear-icon-position:hover {
    color: #007BFF;
}

#create-add-icon {
    position: absolute;
    color: #5b73e8;
    font-size: 24px;
    cursor: pointer;
    padding: 0;
    top:-5px;
    left: -0.5px;
}
#create-add-icon:hover {
    color: white;
}

#delete-icon {
    position: absolute;
    color: #F46A6A;
    font-size: 24px;
    cursor: pointer;
    top:-5.5px;
    left: -0.5px;
    
}
#delete-icon:hover {
    color: white;
}
.bin-icon {
    position: absolute;
    color: #F46A6A;
    font-size: 24px;
    cursor: pointer;
    top: 2.5px;
    left: 2.5px;
    font-size: 18px;
}
.bin-icon:hover {
    color: white;
}
#edit-icon {
    position: absolute;
    color: #5b73e8;
    font-size: 18px;
    cursor: pointer;
    top: 2px;
    left: 2.5px;
    
}
#edit-icon:hover {
    color: white;
}
#check-icon {
    position: absolute;
    color: #5b73e8;
    font-size: 24px;
    cursor: pointer;
    top:-5.5px;
    left: -0.5px;
}
#check-icon:hover {
    color: white;
}
#eye-icon {
    position: absolute;
    color: #5b73e8;
    font-size: 18px;
    cursor: pointer;
    top:2.5px;
    left: 2.5px;
}
#eye-icon:hover {
    color: white;
}

#eye-add-icon {
    color: #5b73e8;
    font-size: 16px;
    cursor: pointer;
    padding: 3px;
}

#eye-add-icon:hover {
    color: white;
}

#excel-icon {
    color: #34C38F;
    font-size: 24px !important;
    cursor: pointer;
    padding: 3px;
}
#excel-icon:hover {
    color: white;
}

#qr-icon-position {
    position: absolute;
    top: 7px;
    right: 12px;
    cursor: pointer;
}
#qr-icon-position:hover {
    color: #5b73e8;
}
.qr-icon-active {
    color: #5b73e8 !important;
}


/* #edit-icon {
    cursor: pointer;
    font-size: 20px;
    margin-right: 8px;
    color: #007BFF;
    opacity: 0.5;
}
#edit-icon:hover {
    opacity: 1;
} */
#edit-close-icon {
    cursor: pointer;
    font-size: 20px;
    color: red;
    opacity: 0.5;
}
#edit-close-icon:hover {
    opacity: 1;
}
/* icons icons icons */

.filter-btn {
    padding: 6px 24px !important;
    position: relative;
}

.filter-container{
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    background: #F8F8F8;
    border-radius: 15px;
    padding: 0.5rem;
    margin-bottom: 1rem;
    color: #626262;
}

.filter-dropdown-container {
    background-color: white;
    width: 470px;
    padding: 1rem;
}

.filter-drop-input{
    width: 207px;
    padding: 4px 8px;
    border-radius: 4px;
    border: 1px solid lightgray;
    margin-bottom: 30px;
}

.filter-container span {
    margin-left: 4px;
    font-weight: 400;
}

.position-fix {
    position: absolute !important;
    top: 38px !important;
    left:0 !important;
    width: inherit;
}
.border-for-table {
    border-radius: 15px;
}

/* input debounce input debounce input debounce */
.debounce_input {
    width: 100% !important;
    padding: 6px 8px;
    border: 1px solid lightgray;
    background-color: transparent;
    border-radius: 4px;
}

.debounce_input:focus {
    border-color: #677DE7;
}

.searchPositionContainer {
    width: 200px !important;
    position: relative !important;
}
/* input debounce input debounce input debounce */

.add-icon-container {
    width: 25px;
    height: 25px;
    border: 1px solid #5b73e8;
    border-radius: 6px;
    position: relative;
    background-color: transparent;
}

.add-icon-container:hover {
    background: #5b73e8;
    color: white;
}

.delete-icon-container {
    width: 25px;
    height: 25px;
    border: 1px solid #F46A6A;
    border-radius: 6px;
    position: relative;
    background-color: transparent;
    cursor: pointer;
}

.delete-icon-container:hover {
    background: #F46A6A;
    color: white !important;
}
.delete-icon-container:hover svg{
    color: white !important;
}
.edit-icon-container {
    width: 25px;
    height: 25px;
    border: 1px solid #5b73e8;
    border-radius: 6px;
    position: relative;
    background-color: transparent;
}

.edit-icon-container:hover {
    background: #5b73e8;
    color: white;
}

.edit-icon-container:hover svg{
    color: white !important;
}

.check-icon-container {
    width: 25px;
    height: 25px;
    border: 1px solid #5b73e8;
    border-radius: 6px;
    position: relative;
    background-color: transparent;
}

.check-icon-container:hover {
    background: #5b73e8;
    color: white !important;
}
.check-icon-container:hover svg{
    color: white !important;
}
.check-icon-container:hover i{
    color: white !important;
}

.excel-icon-container {
    width: 25px;
    height: 25px;
    border: 1px solid #34C38F;
    border-radius: 6px;
    position: relative;
    background-color: transparent;
}
.excel-icon-container:hover {
    background: #34C38F;
    color: white !important;
}

.add-icon-container-add {
    position: absolute !important;
    top: 7px;
    right: 35px;
    width: 25px;
    height: 25px;
    border: 1px solid #5b73e8;
    border-radius: 6px;
    position: relative;
    background-color: transparent;
}

.add-icon-container-add:hover {
    background: #5b73e8;
    color: white;
}

.create-sub-heading {
    padding-top: 6px;
    font-weight: 400;
    color: #495057;
    font-size: 14.4px;
}

.createInput {
    width: 100%;
    padding: 6px 8px;
    border: 1px solid lightgray;
    background-color: transparent;
    border-radius: 4px;
    height: 38px;
}

.border-for-table th {
    font-size: 0.85rem !important;
}
.border-for-table td {
    font-size: 15px !important; 
}

.cancel-btn-create {
    padding: 0.42rem 2rem;
    border-radius: 30px;
    margin-right: 0.5rem!important;
    color: #fff;
    background-color: #f1b44c;
    border: 1px solid transparent;
    border-color: #f1b44c;
}
.save-btn-create {
    color: #fff;
    background-color: #5b73e8;
    border-color: #5b73e8;
    border: 1px solid transparent;
    padding: 0.42rem 2rem;
    border-radius: 30px;
    opacity: 0.65;
    cursor: initial !important;
}
.save-btn-create-active {
    color: #fff;
    background-color: #5b73e8;
    border-color: #5b73e8;
    border: 1px solid transparent;
    padding: 0.42rem 2rem;
    border-radius: 30px;
    opacity: 1;
    cursor: pointer;
}

.preview-card1-header {
    font-weight: 700;
    white-space: nowrap !important;
    margin-right: 16px;
    color: #626262;
}

.preview-header {
    font-weight: 600;
    font-size: 1.35rem;
    color: #495057;
    margin-bottom: 1rem;
}

.for-span-text {
    font-size: 14px;
}

.obshiy-preview h5{
    color: #495057 !important;
    font-size: 18px !important;
    font-weight: 400 !important;
}

.nomenclature-total {
    color: #495057;
    font-size: 1.35rem;
    font-weight: 400;
}
.nomenclature-total b {
    font-weight: bolder;
}

.nomenclature-thead th{
    font-weight: 700 !important;
    font-size: 0.85rem !important;
    color: #495057;
}
.nomenclature-table-fetched {
    color: #495057;
    font-size: 0.9rem;
}
.filter-container b{
    font-weight: bolder;
}
/* test */
.table>:not(:first-child) {
    border-top: 2px solid #f5f6f8;
}
.table {
    --bs-table-striped-bg: none !important;
}
.table-striped tbody tr:nth-of-type(odd), .table .table-light {
    background-color: #f8f9fa !important;
}
tbody, td, tfoot, th, thead, tr {
    border: 0 solid;
    border-color: inherit;
}
.table-striped>tbody>tr:nth-of-type(odd)>* {
    color: #495057 !important;
}
.table>:not(caption)>*>* {
    border-bottom-width: 0;
    border-top-width: 1px;
}
.table>:not(caption)>*>* {
    padding: 0.35rem;
    background-color: var(--bs-table-bg);
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}
td {
    vertical-align: top;
}
.bg-danger {
    background-color: rgba(244,106,106,1)!important;
}
.table>:not(:last-child)>:last-child>* {
    border-bottom-color: #f5f6f8;
}
.table>:not(:first-child) {
    border-top: 2px solid #f5f6f8;
}
.table-striped tbody tr:nth-of-type(odd), .table .table-light {
    background-color: #f8f9fa;
}
tbody, td, tfoot, th, thead, tr {
    border: 0 solid;
    border-color: inherit;
}
.table>:not(caption)>*>* {
    border-bottom-width: 0;
    border-top-width: 1px;  
}

/* test */

.doc-in-head {
    border-bottom-color: #f5f6f8;
    font-size: 0.85rem;
    font-weight: 600;
    border: 0 solid;
    border-color: inherit;
    color: #495057;
    text-align: center;
}
.doc-in-body {
    font-size: 0.9rem;
    font-weight: 400;
    text-align: center;
    color: #495057;
}
.sidebar-menu ul li a {
    display: block;
    padding: 0.6rem 1.1rem;
    color: #7b8190;
    font-size: 15px;
    font-weight: 500;
    transition: all .4s;
    margin: 0 10px;
    border-radius: 3px;
}

.sidebar-menu ul li a svg {
    display: inline-block;
    min-width: 1.5rem;
    padding-bottom: 0.125em;
    font-size: 1.05rem;
    line-height: 1.40625rem;
    vertical-align: middle;
    color: #7b8190;
    transition: all .4s;
    margin-right: 4px;
}
.react-datepicker-wrapper {
    width: unset !important;
}
.table>:not(:first-child) {
    border-top: 2px solid #f5f6f8 !important;
}

.dropdown-table {
    border: 2px solid hsla(0,0%,89.4%,.6);
    border-top-color: rgba(228, 228, 228, 0.6);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgba(228, 228, 228, 0.6);
    border-right-style: solid;
    border-right-width: 2px;
    border-bottom-color: rgba(228, 228, 228, 0.6);
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-left-color: rgba(228, 228, 228, 0.6);
    border-left-style: solid;
    border-left-width: 2px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-top: 1px solid hsla(0,0%,89.4%,.6);
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgba(228, 228, 228, 0.6);
}


.mm-active, .mm-active>a {
    color: #5b73e8!important;
}
.activee span, .activee svg {
    color: #5b73e8 !important;
}
.mm-active>a {
    background-color: #f3f8fb !important;
}

.btn-rounded {
    border-radius: 30px !important;
}
.btn-primary {
    color: #fff !important;
    background-color: #5b73e8 !important;
    border-color: #5b73e8 !important;
}

.create-btn-link {
    padding: 0.47rem 0.75rem !important;
}

.nav-tabs {
    --bs-nav-tabs-link-active-color: #5b73e8 !important;
    font-size: 0.9rem;
}

/* .navlink:hover {
    --bs-link-color: #5b73e8 !important;
} */

.nav {
    --bs-nav-link-color: #495057 !important;
}

.active>.page-link, .page-link.active {
    background-color: #5b73e8 !important;
    border-color: #5b73e8 !important;
}

a {
    color: unset;
}

h5 {
    font-size: 1.125rem !important;
    font-weight: 400 !important;
}
h5 strong {
    font-weight: 500 !important;
}
.bg-danger {
    --bs-danger-rgb: 244,106,106 !important;
}

/* MODAL */
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #f6f6f6;
    border-radius: 0.4rem;
    outline: 0;
}

.modal-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem !important;
    border-bottom: 1px solid #f5f6f8 !important;
    border-top-left-radius: calc(0.4rem - 1px);
    border-top-right-radius: calc(0.4rem - 1px);
    color: #495057;
    font-weight: 500;
}
.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem !important;
}
.form-group {
    margin-bottom: 0.5rem;
}
/* MODAL */

.btn-close {
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: 0.25em;
    color: #000;
    border: 0;
    border-radius: 0.25rem;
    opacity: .5;
}

.btn-outline-warning:hover {
    color: white !important;
}